body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
  padding-top: 100px;
}

.container {
  background: white;
  padding: 40px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  margin-top: 20px;
}

#status {
  margin-top: 20px;
  color: green;
}
